<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista materialelor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <script>
        function toggleForm(formId, productId) {
            const form = document.getElementById(formId);
            if (form.style.display === "none" || form.style.display === "") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
            const updateInputId = document.getElementById("materialId");
            updateInputId.value = productId;
        }

        function calculateProductPrice(input, price, row) {
            const quantity = input.value;
            const productPrice = quantity * price;
            row.querySelector('.product-total-price').textContent = productPrice.toFixed(2);
            calculateTotalPrice();
        }

        function calculateTotalPrice() {
            let total = 0;
            const rows = document.querySelectorAll('tbody tr');
            rows.forEach(row => {
                const productPriceCell = row.querySelector('.product-total-price');
                const productPrice = parseFloat(productPriceCell.textContent) || 0;
                total += productPrice;
            });

            document.querySelector('.total-price').textContent = total.toFixed(2);
        }

        function initializePriceCalculations() {
            const rows = document.querySelectorAll('tbody tr');
            rows.forEach(row => {
                const price = parseFloat(row.querySelector('.price').textContent);
                const input = row.querySelector('input[type="number"]');
                const productPriceCell = row.querySelector('.product-total-price');

                productPriceCell.textContent = '0.00';

                input.addEventListener('input', () => calculateProductPrice(input, price, row));
            });

            calculateTotalPrice();
        }

        window.addEventListener('DOMContentLoaded', initializePriceCalculations);
    </script>
</head>
<body>
<div class="container">
    <h1>Lista Materialelor</h1>
    <button type="button" class="btn btn-primary mt-1" onclick="toggleForm('addForm')">
        <i class="bi bi-plus-square-fill"></i>
    </button>
    <form th:action="@{/materials/print-pdf}" method="get">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nume Produs</th>
                <th>Pret</th>
                <th>Cantitate</th>
                <th>Pret Total</th>
                <th style="width: 10px">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-pen"></i>
                    </button>
                </th>
                <th style="width: 10px">
                    <button type="button" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="material : ${materials}">
                <td th:text="${material.id}"></td>
                <td th:text="${material.materialName}"></td>
                <td class="price" th:text="${material.price}"></td>
                <td>
                    <input type="number" th:name="'productToCount[' + ${material.id} + ']'" min="0" value="0"/>
                </td>
                <td class="product-total-price">0.00</td>
                <td style="width: 10px">
                    <button type="button" class="btn btn-primary" th:onclick="'toggleForm(\'updateForm\', ' + ${material.id} + ')'">
                        <i class="bi bi-pen"></i>
                    </button>
                </td>
                <td style="width: 10px">
                    <button type="button" class="btn btn-danger" th:onclick="'window.location.href=\'/materials/delete?deletematerialId=' + ${material.id} + '\''">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Afișăm prețul total -->
        <div class="mt-4">
            <h3>Suma Totala: <span class="total-price">0.00</span></h3>
        </div>

        <!-- Buton pentru a descărca PDF-ul -->
        <button type="submit" class="btn btn-dark mt-4">Descarcă PDF</button>
    </form>

    <!-- Formular pentru adăugarea materialelor -->
    <form id="addForm" th:action="@{/materials/adaugare}" method="post" class="mb-4" style="display: none;">
        <h3>Adăugare Produs Nou</h3>
        <div class="form-group">
            <label for="materialName">Produsul</label>
            <input type="text" class="form-control" id="materialName" name="materialName" placeholder="Introduceți produsul" required>
        </div>
        <div class="form-group">
            <label for="price">Prețul</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="Introduceți prețul" required>
        </div>
        <button type="submit" class="btn btn-dark">Salvează produsul</button>
    </form>

    <!-- Formular pentru actualizarea prețului materialului (ascuns inițial) -->
    <form id="updateForm" th:action="@{/materials/update-price}" method="post" class="mb-4" style="display: none;">
        <h3>Actualizează Prețul Produsului</h3>
        <div class="form-group">
            <label for="materialId">ID Material</label>
            <input type="number" class="form-control" id="materialId" name="materialId" placeholder="Introduceți ID-ul materialului" required>
        </div>
        <div class="form-group">
            <label for="newPrice">Preț Nou</label>
            <input type="number" step="0.01" class="form-control" id="newPrice" name="newPrice" placeholder="Introduceți noul preț" required>
        </div>
        <button type="submit" class="btn btn-dark">Actualizează Prețul</button>
    </form>
</div>
</body>
</html>